body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(253,215,62,255);
    color: black;
    padding-bottom: 10px;
}

.box {   
    margin: 0 ;
    padding: 8px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: rgba(253,215,62,255);
}

.left-side,
.right-side {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.phone,
.hours {
    margin-right: 50px;
    font-size: 14px;
}

.phone i,
.hours i {
    margin-right: 5px;
}

.fa-solid {
    color: #F12222;
}

.fa-regular {
    color: #F12222;
}

.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-icons {
    display: inline-block;
    margin-left: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

li {
    display: inline-block;
    margin-left: 20px;

}

.header-text-color {
    color: #F12222;
    text-align: center;
}


.main-section {
    display: grid;
    grid-template-columns:1fr 1fr;    
    padding:0px 0 ;
    background-image: url(image/aaron-huber-KxeFuXta4SE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: gainsboro;
        
}

.container {
   max-width: 960px;
    padding: 20px;
    position: relative;
    left: 100px;
    top: 30px;
}

.content h2 {
    font-size: 20px;
    margin-top: 50px;
}

.content h1 {
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 0;
}

.content p {
    margin-bottom: 30px;
}

.discover-more-detail {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255,90,88,255);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.form-design {
    background-color:rgba(3,33,69,255);
    padding: 30px;
    width: 350px;
    position: relative;
    left: 665px;
    bottom: 380px;
}

.form-design h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-design h3 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.input-text-style {
    width: 320px;
    height: 30px;
    margin-top: 10px;
}

button {
    display: block;
    padding: 10px 20px;
    background-color: rgba(254,90,86,255);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .box {
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .main-section {
    display:grid ;
    grid-template-columns:1fr 1fr;        
    background-image: url(image/aaron-huber-KxeFuXta4SE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    }

    .container {
    text-align: center;
    align-items: center;    
    position: relative;
    left: 3px;
    top: 5px;
    }

    .form-design {
        position: relative;
        left: 3px;
        top: 1px;
        padding: 20px;
    }

    .content {
        text-decoration-line:none;
        margin-bottom: 30px;
    }
    
    
}

@media screen and (max-width: 480px) and (min-width: 150px) {
    .box {
        flex-direction: column;
        text-align: center;
        display: none;
    }
    
    .main-section {
        display:grid ;
        grid-template-columns:1fr 1fr;        
        background-image: url(image/aaron-huber-KxeFuXta4SE-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        }
    
    .container {
        text-align: left;
        position: relative;
        left: 3px;
        top: 5px;
    }        

    .content {
        text-decoration-line:none;
        margin-bottom: 30px;
    }

    .form-design {
        position: relative;
        left: 3px;
        top: 1px;
        padding: 20px;
    }

}